@page
@model WebAssForUna.Pages.DatingFormModel
@{
    ViewData["Title"] = "confirmation";
}
<div class="divs">
<h2>ALL DONE</h2>
<h3>Make sure all your information is correct!</h3>
<ul>
    <li> First Name: @Model.modelpage.FirstName</li>
    <li> Last Name: @Model.modelpage.LastName</li>
    <li> PPSN : @Model.modelpage.Ppsn</li>
    <li> Date of birth: @Model.modelpage.DOB</li>
    <li> Gender: @Model.modelpage.Gender</li>
    <li> Height: @Model.modelpage.Height</li>
    <li> Email: @Model.modelpage.Email</li>
    <li> Phone: @Model.modelpage.Phone</li>
    <li> Relationship status: @Model.modelpage.Rstatus</li>
    <li> Interests: 
    @for (int i = 0; i < Model.modelpage.Interests.Length; i++)
    {
        if (Model.modelpage.InterestsChoosen[i] == true)
        {
            @Model.modelpage.Interests[i]
        }
    }
        
   </li>
</ul>
<div>
    <a type="submit" href="goodbye">Confirm</a>
    <a type="Submit" href="DatingForm">Edit Form</a>
</div>
</div>
